.tópicos{
    background-image: linear-gradient(45deg,#002F52,#002F52,#0f4164,#164d74,#0f4164,#002F52,#002F52);
   background-size: 500% 100%;
   animation: degrade 3.5s infinite linear alternate-reverse;
    text-align: center;
    padding: -1em 0em;
    margin: -1em;
    border-radius: 20px;
    border-top-left-radius: 30px;
}

.tópicos--titulo{
    color: var(--branco);
    font-weight: 500;
    margin-top: 2em;
}

.tópicos--lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1em;
}

.tópicos-item{
    margin: 2em 0.5em;
        list-style-type: none;

      }


.tópicos--link{
    color: var(--branco);
    background-color: var(--laranja);
    font-weight: 700;
    padding: 1em;
    text-decoration: none;
    font-size: 14px;
    list-style-type: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); 
      }
